{%- if shop.customer_accounts_enabled -%}
  <a
    href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
    class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}"
  >
    {%- if section.settings.enable_customer_avatar -%}
      <account-icon>
        {%- if customer and customer.has_avatar? -%}
          {{ customer | avatar }}
        {%- else -%}
          Account
        {%- endif -%}
      </account-icon>
    {%- else -%}
      Account
    {%- endif -%}
    <span class="visually-hidden">
      {%- liquid
        if customer
          echo 'customer.account_fallback' | t
        else
          echo 'customer.log_in' | t
        endif
      -%}
    </span>
  </a>
{%- endif -%}
